@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
* {
  font-family: "Teachers", monospace;
}
body {
    /* background: #70e1f5;  
    background: linear-gradient(to right, #ffd194, #70e1f5);  */
    transition: background-color 1s ease;
}    
.card {
  height: 100%;
  transition: all ease 1s ;
  border-radius: 1rem;
}
.card:hover{
    transform: scale(1.03);
    /* background: #7027CF;
    background: linear-gradient(0deg, #7027CF, #7AB889);; */
}
