@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");
* {
  font-family: "Teachers", monospace;
}
@keyframes colorCycle {
  0% { background-color: #433878; }
  6.25% { background-color: #8967B3; }
  12.5% { background-color: #3357FF; }
  18.75% { background-color: #D2E0FB; }
  25% { background-color: #7EACB5; }
  31.25% { background-color: #6A9C89; }
  37.5% { background-color: #295F98; }
  43.75% { background-color: #D7C3F1; }
  50% { background-color: #704264; }
  56.25% { background-color: #704264; }
  62.5% { background-color: #D1E9F6; }
  68.75% { background-color: #FEFFD2; }
  75% { background-color: #FC819E; }
  81.25% { background-color: #674188; }
  87.5% { background-color: #134B70; }
  93.75% { background-color: #921A40; }
  100% { background-color: #433878; }
}

body {
  animation: colorCycle 32s infinite;
  transition: background-color 2s ease;
}

.card {
  height: 100%;
  transition: all ease 1s;
  border-radius: 1rem;

  &:hover {
    transform: scale(1.03);
    background: #e14ab2;
    background: linear-gradient(135deg, #e14ab2, #4cbdff);
  }
}
.navbar-brand{
  font-weight: 600;
}